.container {
  background-color:#262625;
}

/*navbar*/
.navbar {
  background-color:#262625;
  border: none;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

/*index.html*/
.zoomIn-custom {
  /*Position*/
  text-align: center;
  margin-top: -50px;
  /*Typography*/
  color: white;
  font-family: 'Montserrat';
  font-size: 65px;
  text-shadow: 1px 1px orange;
}

.lost-text {
  text-align: center;
  margin-bottom: 20px;
  padding-right: 90px;
  color: white;
  font-family: 'Montserrat';
  font-size: 38px;
  font-weight: bold;
}

.word {
  position: absolute;
  color: #f6630d;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.spash-image {
  max-width: 100%;
}

.btn-custom {
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  border: 1px solid transparent;
  background-color: #d34e00;
  margin: 3px;
  color: white;
  text-decoration: none;

  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #ffffff;
  border-color: black;
  color: black;
}

.btn-one {
  margin-top: -180px;
  margin-left: 30%;
}

.btn-two {
  margin-top: -180px;
  margin-right: 30%;
}
