.container {
  background-color:#262625;
}

/*navbar*/
.navbar {
background-color:#262625;
border: none;
}

.heading {
  background-color: #262625;
  }

/*index.html*/
.zoomIn-custom {
  /*Position*/
  text-align: center;
  margin-top: -55px;
  margin-bottom: 25px;
  /*Typography*/
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 400;
  text-shadow: 1px 1px orange;
}

.logo {
  max-width: 10%;
}

.text {
  // position: absolute;
  // width: 450px;
  // left: 50%;
  margin-left: 0px;
  // height: 40px;
  // top: 50%;
  margin-top: 40px;
  padding-right: 135px;
  text-align: center;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.pomegranate {
  color: #f6630d;
}

.spash-image {
  max-width: 100%;
}
